<ion-header>
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of data?.articles" (click)="getSingle(article)">

    <!-- <ion-item> -->
      <!-- <ion-avatar item-start>
        <img src="img/marty-avatar.png">
      </ion-avatar> -->
      <!-- <h2>{{article.author}}</h2>
      <p>{{article.publishedAt}}</p> -->
    <!-- </ion-item> -->
  
    <ion-img [src]="article.urlToImage"></ion-img>
  
    <ion-card-content>
      <ion-card-title>{{article.title}}</ion-card-title>

      <p>
        {{article.description}}
      </p>

    </ion-card-content>
  
    <ion-row> 
      <ion-col left text-left>
        <ion-note>
         By: {{article.author}}         
        </ion-note>
      </ion-col>
      <ion-col right text-right>
        <ion-note>         
         {{article.publishedAt |  date :  "MMM dd HH:mm" }}
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>
