<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <ion-img src="/assets/contac_us.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Hakuna Matata!</ion-card-subtitle>
          <ion-card-title>Contact Us</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-list-header>Follow us on Twitter</ion-list-header>
            <ion-item>
              <ion-icon name="logo-twitter" slot="start"></ion-icon>
              @shreeramz
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>Connect over Email</ion-list-header>
            <ion-item>
              <ion-icon name="mail" slot="start"></ion-icon>
             <a href="mailto:shreeram.mc@gmail.com">Email Us</a>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>Call Us</ion-list-header>
            <ion-item>
              <ion-icon name="call" slot="start"></ion-icon>
              +001 510 780
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

</ion-content>
